html, body {
  margin: 0;
  height: 100%;
}

.app-link {
  color: #01a982;
  text-decoration: none;
  cursor: pointer;
  font-size: 1.5rem;
  font-weight: 500;
}

.container {
  text-align: center;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

header, footer {
  display: flex;
  height: 60px;
  background-color: #01a982;
}

h1, h4 {
  align-self: center;
  flex: 1;
  color: white;
}

.content {
  flex: 1 0 auto;
  background-color: #1f2739;
  color: white;
  padding: 10px;
}

.ghubUser {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 30px;
  justify-content: center;
  padding: 20px 70px;
}

section {
  background-color: darkslategrey;
  text-align: left;
  margin: 10px 50px 10px 50px;
  border-radius: 5px;
}

.repoItem {
  padding: 10px;
  margin: 10px 0;
  font-size: 0.9rem;
}

.repoLink {
  margin: 0;
  padding-top: 5px;
  text-align: left;
  text-decoration: none;
  color: white;
}

div a p {
  margin: 0;
  margin-top: 5px;
}

.repoTitle {
  font-size: 1.2rem;
  font-weight: 600;
  margin: 0;
}

.page {
  /* font-size: 1.7rem; */
  display: inline-flex;
  margin-top: 10px;
}

.paginatorButtons {
  cursor: pointer;
  margin-right: 8px;
  background-color: white;
  color: darkslategrey;
  border-radius: 50%;
  /* padding-top: 4px; */
  width: 40px;
  height: 40px;
  font-size: 1.7rem;
  border: none;
}

.paginatorButtons:hover {
  background-color: #01a982;
  color: white;
}

.paginatorButtons:disabled {
  background-color: gainsboro;
  color: white;
}

.selectedButton {
  background-color: springgreen;
}

.hiddenButton {
  display: none;
}

.paginatorButtons p {
  margin: 0;
}

.starsContainer {
  position: absolute;
  top: -2px;
  right: 20px;
}

.star {
  color: yellow;
  font-size: 1.1rem;
  vertical-align: unset;
}